@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary :#0171B2;
    --dark :#21252f;
    --body : #C8AB4D;
    --own : #C8AB4D;
    --box-shadow : 0 8px 22px rgba(0,0,0,0.1);
}
body{

    font-family: Poppins,"sans-serif";
    line-height: 1.7;
    color:var(--body);
}
.hero{
    background-image: url(/img/strike.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.479);
    z-index: -1;

}


section{
    padding-top:120px;
    padding-bottom: 120px;
    
    
}

.card-effect{
    box-shadow: var(--box-shadow);

    background-color: white;
    padding: 15px;
    transition: all 0.35s ease;
    height: 100px;
    text-align: center;
    text-decoration: none;   


}
.card-effect h5{
    text-decoration: none;
    color: #C8AB4D;
}
.card-effect:hover{
    box-shadow: var(--box-shadow);
    transform: translate(5px);
}

